*{
    padding: 0;
    margin: 0;
}
.main{

    background-color:  #1D1C1A;
  
}

.main .back{
    /* background-repeat: no-repeat; */
}
/* navbar */
.ok{
    margin-left: 150px;
}
*{
    font-family: 'Cormorant Garamond', serif;
}
.En{
    min-width: 0 !important;
}
.book{
    border: none;
    background-color: #AA6033;
    padding:2px 10px;
}
.header1{
   background-color: transparent;
   font-size: 18px;
   margin-left: 40px;
   margin-right: 40px;
}
.header1 a,.book{
    color: #FFFFFF !important;
}
.menubar li a{
    color: #000000 !important;
}
.menubar li a:active{
    background-color: #000000 !important; 
    color: white !important;
}
@media screen and (max-width:1200px){
    .book {
        padding: 2px 2px !important;
    }
    .header1{
     
        margin-left: 0px !important;
        margin-right: 0px !important;
     }
 
     .page1{
        margin-top: 3rem !important;
    }
}

@media screen and (min-width:1200px ){

.page1{
    margin-top: 7rem !important;
}
}
.hotel1{
   
    
}
.marina span{
    background-color: #AA6033;
    padding: 4px 8px;
    border-radius: 20px;
}
.room{
    background-color: #AA6033;
    padding: 5px 25px;
}
.box img{ 
    width: 100px !important;
    margin-left: auto ;
    margin-right: auto ;
}
.box{
    margin-top: 26px;
    border: none;
    box-shadow: 2px 2px 5px black;
    padding-top: 25px;
}
.box:hover .box{
    opacity: 0.5 !important;
}
.page3{
    background-color: #F6EEE9;
    padding-left: 10px;
    padding-right: 10px;
}

.card1 p{
    margin-top: -8px;
}
.card1 h4{
    margin-top: 7px;
}
.b1{
    /* background-image: url(image/hotel1.png); */
    position: relative !important;
    margin-top: 20px;
   
    /* height: 300px; */

}
.abs{
    position: absolute !important;
    /* top: 200px; */
    top: 33% !important;
}
@media screen and (min-width:1200px){
    .abs{
        top: 48% !important;
    }
}
@media screen and (max-width:576px){
    .abs{
        top: 48% !important;
    }
    .dropdown-menu{
        width: 100% !important;
    }
}
