*{
    padding: 0;
    margin: 0;
    font-family:'Poppins', sans-serif;;
}
.slider h1{
    font-size: 40px !important;
}
.pt-10{
    padding-top: 10px;
}
ul{
    list-style-type: none;
}
.pb-10{
    padding-bottom: 10px;
}
.pr-10{
    padding-right: 10px;
}
.pl-10{
    padding-left: 10px;
}
.p-10{
    padding: 10;
}
.px-10{
    padding-left: 10px;
    padding-right: 10px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.mt-10{
    margin-top: 10px;
}
.mt-25{
    margin-top: 25px;
}
.mt-30{
    margin-top: 30px;
}
.mt-50px{
    margin-top: 50px;
}
.mt-70{
    margin-top: 80px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-70{
    margin-bottom: 80px;
}
.mb-20{
    margin-bottom: 20px;
}
.mr-10{
    margin-right: 10px;
}
.ml-10{
    margin-left: 10px;
}
.m-10{
    margin: 10;
}
.mb-60{
    margin-bottom: 60px;
}
.mx-10{
    margin-left: 10px;
    margin-right: 10px;
}
.my-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.d-flex{
    display: flex;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pos-r{
    position: relative;
}
.pos-a{
    position: absolute;
}
.menu{
    margin: 0;
    padding: 0;
    width: 100%;
    /* display: flex;
    justify-content: right;
    align-items: center; */
    position: relative;
}
main li{
    position: relative;

}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    /* background-color: black; */
    display: block;
    /* position: relative; */
 }

ul{
    margin: 0;
    padding: 0;
 }
 ul li{
    padding: 0;
    margin: 0;
 }
.menu li{
    list-style-type: none;
    position: relative;

}
.menu li a{
    text-decoration: none;
    color: black;
}
.logo{
    margin-right: auto;
}
.data{
    margin-right: auto;

    
}
.menu li{
    margin-right: 40px;
}
.logos li{
    margin-right: 20px;

}
.main {
    margin: 10px;
    padding: 15px 35px;
    /* border: 2px solid black; */
}
.abs{
    position: absolute;
    top: 50px;
    left: 50px;
}
.owl-carousel .owl-nav button.owl-next {
    font-size: 80px !important;
    position: absolute;
    top: 35%;
    right: 2%;
    width: 50px;
    height: 50px;
}
.owl-carousel .owl-nav button.owl-prev {
    font-size: 80px !important;
    position: absolute;
    top: 35%;
    left: 0%;
    width: 50px;
    height: 50px;
}
.owl-carousel .owl-nav button.owl-next:hover{
    background-color: transparent !important;
}
.owl-carousel .owl-nav button.owl-prev:hover{
    background-color: transparent !important;

}

.owl-theme .owl-dots .owl-dot span{
    border-radius: 0px !important;
  
}
.owl-theme .owl-dots{
    position: absolute;
    bottom: 6%;
    left: 45%;
}
.abs{
    position: absolute;
    top: 25%;
    left: 5%;
    width: 35%;
    color: #ffffff;
}
.abs h5,p{
    text-align: center;
    transition: 0.9s;

}

.abs h1{
    font-size: 40px;
}
.btns{
    justify-content: space-evenly;
}
.btn1{
    padding: 18px 40px;
    background-color: #ffffff;
    color: #4d592e;
    outline: none;
    border: none;
    transition: 1s;
    font-size: 15px;
    
}
.btn1:hover{
    background-color: #3d592e;
    color: #ffffff;
    outline: none;
}
.btn2{
    padding: 18px 40px;
    outline: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    transition: 1s;
    border: none;
    font-size: 15px;

}
.btn2:hover{
    border: none;
    background-color: #4d592e;
    color: #ffffff;
    outline: none;

}
.abs2{
    position: absolute;
    top: 25%;
    right: 5%;
    width: 35%;
    color: #ffffff;
}
.abs2 h5,p{
    text-align: center;
    transition: 0.9s;

}
.abs2 h1{
    font-size: 40px;
}
.submenu{
    display: none;
    z-index: 55;
    margin: 0;
    padding: 0;
    justify-content: center;
    position: absolute;


}
.submenu li{
    /* top: 0; */

    background-color:white;
    /* padding: 20px; */
}
.submenu li a{
    padding: 10px 35px;
}
.submenu li a:hover{

    background-color: black;
    color: white !important;
}

.menu li:hover .submenu{
    display: block;
}
.img{
    width: 50%;
}
.detail{
    width: 50%;
    padding: 40PX;
}
.detail p{
    color: #616161;
}
.detail h1{
    font-size: 40px;
    color: #4d592e;
}
.svg{
    width: 20%;
}
svg{
    border: 2px solid #4d592e;
    border-radius: 6px;
    padding: 15px;
}
.content{
    display: flex;
}
.center2{
    display: flex;
    justify-content: left;
    align-items: center;
}
.btn3{
    padding: 20px 50px;
    background-color: #4d592e;
    color: #ffffff;
    outline: none;
    border: none;
    transition: 1s;
    font-size: 15px;
    
}
.btn3:hover{
    border: 1px solid black;
    /* width: calc(100%-2px); */
    background-color: #ffffff;
    color:#4d592e ;
    outline: none;
}
.muted{
    color: #616161;
}
.mt-40{
    margin-top: 40px;
}
.mt-20{
    margin-top: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.future{
    font-size: 40px;
    color: #4d592e;
}
.btn5{
    padding: 8px 13px;
    background-color: #ffffff;
    color: #4d592e;
    border: none;
    outline: 1px solid #4d592e;
    transition: all ease-in-out 0.5s;
}
.btn5:hover,.hover{
    padding: 8px 13px;
    background-color: #4d592e;
    color: #ffffff;
    outline: none;
}
.imgs{
    width: 50%;
}
.imgs img:hover{
  
}
.row1{
    width: 100%;
}
.box1{
    width: 50%;
    padding: 10px;
}
.box2{
    width: 50%;
    padding: 10px;
}
l.imgs{
    display: flex;
    justify-content: space-around;
}
.imgs img{
    width: 100%;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgs2{
    width: 50%;
    overflow: hidden;
}
.imgs2 img{
    width: 100%;
    padding: 10px;
}
.container{
    width: 1140px;
    margin:auto;
}
.detail2{
    padding: 20px;
}
.main3{
    margin: 10px;
    /* padding: 15px 35px; */
    /* transition: all ease-in-out 1.5s; */
}
.bbgh{
    background-image: url(image/m3_bg.jpg);
    padding-top: 30px;
    padding-bottom: 30px;
}
.content55{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tty{
    width: 30%;
    text-align: center;
    color: white;
    border: 1px solid transparent;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
}
.tty:hover{
    border-color: white;

}
.hhg6{
    background-image: url(image/footer_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.8);
}


.tty i{
    font-size: 50px;
}
.oioi i{
    margin-right: 10px;
}
.uuy{
    width: 30%;
    text-align: left;
}
.o656{
    width: 20%;
}
.o656 h3{
    margin-bottom: 10px;
    
}.o656 ul li a{
    text-decoration: none;
    color: white;
    opacity: 1;
    list-style: 32px;
}
.uuy{
    color: white;
}
.hhgy{
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    padding-bottom: 30px;
}
.hhgy h3{
    color: white;
}
.logoss span i{
    color: white;
    border-radius: 30px;
    font-size: 20px;
    margin-right: 19px;
    transition: 0.5s;
    border: 2px solid white;
    background-color: transparent;
    padding: 8px;
    /* background-color: red; */
  
}

.logoss span i:hover{
    background-color: #FFFFFFF5;
    border-color:#ffffff ;
    color: rgb(30, 48, 80);
}
.nnav{
    width: 100%;
    height: 80px;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}
.logosss{
    width: 20%; height: 100%;
}
.yytu ul li{
    display: inline-block;
}
.yytu ul li a{
    text-decoration: none;
    color: black;
    padding-left: 20px;
}