<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--css  -->
<link rel="stylesheet" href="css/contact.css">
<!-- main css -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/style2.css">
<!-- bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- carousel -->
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<!--  -->
<!-- slider -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

</head>
<body>
  <section class="nndj">
  <header class="container">
    <nav class="navbar navbar-expand-lg navbar-light ab">
        <a class="navbar-brand" href="/index.html">
            <img src="image/brandflex-logo.svg" width="165" height="100" class="d-inline-block align-top" alt="">
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 17px;">
          <ul class="navbar-nav mr-auto sd font-family">
            <li class="nav-item active">
              <a class="nav-link" href="#home">Home</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products & Solutions
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/nfccard.html  ">NFC Business Card</a>
                <a class="dropdown-item" href="/digitalbusinesscard.html">Digital Business Card</a>       
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Screenshots">Screenshots</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Supports">Supports</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Blogs">Blogs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Blogs">
                    <button class="btn dsd" style="border-radius: 22px;color: white;">
                        Contact</button>
                </a>
              </li>

          </ul>
         
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="row">
       <div class="col-12">
        <h1 class="text-center mt-24">Get in Touch</h1>
        <div class="text-center opacity-06 mt-12">Home <i class="fa-solid fa-play" style="font-size: 10px;"></i> Contact Us</div>
      </div>
      </div>
     
    </div>
    <div class="container yytu mt-5">
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <div class="flex">
              <div class="logo center">
                <img src="image/c-location.png" alt="">
              </div>
              <div class="text5 center">
              <div class="">
                <h5>Address</h5>
                <p>107-108, Royal Square, VIP Cir, near Petrol Pump, Uttran, Surat,
                  Gujarat 394105</p>
              </div>
              </div>
            </div>
            <!--  -->
            <div class="flex jjgh">
              <div class="logo center">
                <img src="image/c-call7.png" alt="">
              </div>
              <div class="text5 center">
              <div>
                <h5>Phone</h5>
                <p>+91 81400 61026</p>
              </div>
              </div>
            </div>
            <!--  -->
            <div class="flex jjgh">
              <div class="logo center">
                <img src="image/c-email.png" alt="">
              </div>
              <div class="text5 center">
                <div class="">
                  <h5>Email</h5>
                <p>Support@brandflex.in</p>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="flex jjgh">
              <div class="logo center">
                <img src="image/c-calender.png" alt="">
              </div>
              <div class="text5 center">
                <div class="">
                  <h5>Schedule Meeting</h5>
                <p style="color: #E53535; font-weight: 600;">Schedule Meeting</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-7 uuty mm-55">
            <div class="row">
             <div class="col-12 col-sm-6 hhty">
              <div><label for="#">Name*</label></div>
              <input type="text" style="width: 100%;" placeholder="BrandFlex">
             </div>
             <div class="col-12 col-sm-6 hhty">
              <div><label for="#">Email*</label></div>
              <input type="text" style="width: 100%;" placeholder="supportbrandflex.in">
             </div>
            </div>
            <div class="row mmt-24">
              <div class="col-12 col-sm-6 hhty">
               <div><label for="#">Placeholder*</label></div>
               <input type="text" style="width: 100%;" placeholder="8140061026">
              </div>
              <div class="col-12 col-sm-6 hhty">
               <div><label for="#">Help For?*</label></div>
               <select name="#" id="#" style="width: 100%;">
                <option value="">?</option>
                <option value="">?</option>
                <option value="">?</option>
                <option value="">?</option>
                <option value="">?</option>
              </select>
              </div>
             </div>
             <div class="row mmt-24">
              <div class="col-12 hhty">
                <div><label for="#">Your Message</label></div>
                <input type="text" style="width: 100%; height: 120px;" placeholder="Drop your Message">
              </div>
             </div>
             <div class="row mt-24 text-center">
            <div class="col-12 hhty">
              <button href="#" class="submit">Submit</button>
            </div>
             </div>
          </div>
        </div>
    </div>
    </section>
    <section class="nfh98">
    </section>

    <section class="" style="background-color: #FDFFFC;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d929.741231138655!2d72.86398015832286!3d21.23323944000395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04f143ecb6a23%3A0xe309896ab501b7e5!2sBrandFlex%C2%AE%20%3A%20Festival%20Poster%2C%20Business%20Post%2C%20Digital%20Business%20Card%2C%20NFC%20Business%20Card%2C%20Logo%20Design%2C%20Digital%20Marketing!5e0!3m2!1sen!2sin!4v1692335861297!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
    </section>

    <footer class="footo f-satoshi">
      <div class="container ">
          <div class="row moto">
              <div class="col-lg-4 baww">
                  <div class="o-inner">
                      <a class="navbar-brand" href="/index.html">
                          <img src="image/brandflex-logo.svg" width="165" height="100"
                              class="d-inline-block align-top" alt="">
                      </a>

                      <p>BrandFlex is one of the Leading Company in India that has mastered in the Latest Image Post,
                          Greeting and Video Post for the Digital Marketing.</p>
                      <div class="social mt-4">
                          <a href="" class="font-size"><i class="fa-brands fa-facebook"
                                  style="color: #6f60f7;"></i></a>
                          <a href="" class="font-size"><i class="fa-brands fa-instagram"
                                  style="color: #6f60f7;"></i></a>
                          <a href="" class="font-size"><i class="fa-solid fa-phone" style="color: #6f60f7;"></i></a>
                          <a href="" class="font-size"><i class="fa-brands fa-youtube"
                                  style="color: #6f60f7;"></i></a>
                          <a href="" class="font-size"><i class="fa-brands fa-linkedin"
                                  style="color: #6f60f7;"></i></a>
                      </div>
                  </div>
                  <hr>
                  <div class="o-hr">
                      <span class="us">Subscribe Us</span>
                      <p>
                          It is a long established fact that a reader will be distracted by the readable
                      </p>
                  </div>
                  <div class="butt">
                      <input class="sidio" type="text" placeholder="Enter Your Email...">
                  </div>
                  <div class=" butt1">
                      <a href="">
                          <button class=" tfir">Subscribe</button>
                      </a>
                  </div>
              </div>
              <div class="col-lg-1"></div>
              <div class="col-lg-7">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="fotoe">

                                  <div class="joeo">
                                      <img class="ewse" src="/image/Vector.png" alt="">&nbsp;
                                      <h1 class="twww mm-t">Get in touch with</h1>

                                  </div>
                                  <p class="ibbi us">+91 81400 61026</p>
                                  <p>support@brandflex.in</p>

                              </div>
                          </div>

                          <div class="col-lg-6">
                              <div class="fotoe">

                                  <div class="joeo">
                                      <img class="ewse" src="/image/Icon22.png" alt="">&nbsp;
                                      <h1 class="twww">location</h1>

                                  </div>
                                  <p class="ibbi ">107-108, Royal Square, VIP Cir, near Petrol
                                      Pump, Uttran, Surat,
                                      Gujarat 394105</p>
                                  <a href="" class="colo1">
                                      <button class="btn colo1">Get Direction</button>
                                  </a>

                              </div>
                          </div>
                      </div>
                      <hr>

                  </div>
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-4 col-md-4 col-lg-4 mt-4 list">
                              <ul class="list">
                                  <li>
                                      <h5 class="font-ee us">Services</h5>
                                  </li>
                                  <li><a href="" class="jiwi"> Digital Business Card</a></li>
                                  <li><a href="" class="jiwi">NFC Business Card</a></li>
                                  <li><a href="" class="jiwi">Logo Design Service</a></li>
                                  <li><a href="" class="jiwi">Website Design</a></li>
                                  <li><a href="" class="jiwi">Digital Marketing</a></li>
                                  <li><a href="" class="jiwi">Social Media Expert</a></li>
                                  <li><a href="" class="jiwi">Content Creation</a></li>
                              </ul>
                          </div>

                          <div class="col-sm-4 col-md-4 col-lg-4 mt-4">
                              <ul class="list">
                                  <li>
                                      <h5 class="font-ee us">Pages</h5>
                                  </li>
                                  <li><a href="" class="jiwi">About</a></li>
                                  <li><a href="" class="jiwi">Services</a></li>
                                  <li><a href="" class="jiwi">Resources</a></li>
                                  <li><a href="" class="jiwi">Blog</a></li>
                              </ul>
                          </div>
                          <div class="col-sm-4 col-md-4 col-lg-4 mt-4 dodo">
                              <ul class="list jiwi">
                                  <li class="jiwi">
                                      <h5 class="font-ee us">Product Help</h5>
                                  </li>
                                  <li><a href="" class="jiwi">FAQ</a></li>
                                  <li><a href="" class="jiwi">Reviews</a></li>
                                  <li><a href="" class="jiwi">Features</a></li>
                                  <li><a href="" class="jiwi">Feedback</a></li>
                                  <li><a href="" class="jiwi">API</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-6 text-center">
                              <p style="font-size: 14px;">Copyright © 2021 <span class="color"> Brand Flex.</span> All
                                  rights reserved</p>
                          </div>
                          <div class="col-lg-6 text-center">
                              <a href="" style="color: #6f60f7;">Privacy</a>&nbsp; |
                              <a href="" style="color: #6f60f7;">Term Of Services</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  
<!-- jquery -->
<script src="js/jquery-3.7.0.min.js"></script>
<!-- carousel -->
<script src="js/owl.carousel.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<!-- slider -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>