<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worldlife</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><span><b>Worldlife</b></span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#1" id="#1">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "  href="#2">Animals</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#3" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Amazing Animal
                </a>
               
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#4" tabindex="-1" aria-disabled="true">Detail</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#5" tabindex="-1" aria-disabled="true">NAture</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#6" tabindex="-1" aria-disabled="true">Beautiful</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#6" tabindex="-1" aria-disabled="true">More Animal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#7" tabindex="-1" aria-disabled="true">Detail</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" >
            
            </form>
          </div>
        </div>
      </nav>
      <!--  -->
      <div class="container" id="1">
        <div class="row">
            <div class="mt-5 page1">
                <h1 class="mt-5">The Best Of Wildlife </h1>
                <p >Winning images from national and international wildlife  competitions of the year</p>
               <a href="#text"><button type="button" class="btn mt-5 mb-5">View More</button></a>
              <div class="info" style="clear: both;">
              </div>
              </div>
        </div>
      </div>
      </div>
      

      <!--page2  -->
      <div class="main2" id="2">
        <div class="container">
          <div class="row ">
            <!--  -->
            <div class="container-fluid">
            <div class="info2 ">
              <h1 class="mt-5">Animals</h1>
              <p>Phasellus eget lacinia ipsum. Aliquam lectus tellus, cursus at fermentum id, hendrerit sollicitudin.</p>
            </div>
            </div>
           <!-- box1 -->
            <div class="box1  col-12 col-sm-12 col-md-6 col-lg-3">
            <div class="card bg-dark text-white" >
              <img src="laura-college-K_Na5gCmh38-unsplash.jpg" class="card-img" alt="...">
              <div class="card-img-overlay">
                <h2 class="card-title slid-in-down">Dear</h2>
                <hr>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> 
                  </div>
                </div></p>
               </div>
               <!-- box2 -->
            <div class="box2 col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="card bg-dark text-white">
                  <img src="jean-wimmerlin-FC4GY9nQuu0-unsplash.jpg" class="card-img" alt="...">
                  <div class="card-img-overlay">
                    <h2 class="card-title">Lion</h2>
                    <hr>
                        <p class="card-text">Lions have strong, compact bodies and powerful forelegs, teeth and jaws for pulling down and killing prey. Their coats are yellow-gold. </p> 
                      </div>
                    </div></p>

            </div>
         
            
               <!-- box3 -->
               <div class="box3 col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="box1">
                  <div class="card bg-dark">
                    <img src="pexels-rutpratheep-nilpechr-6610865.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h2 class="card-title">Crocodile</h2>
                      <hr>
                          <p class="card-text">Crocodiles (family Crocodylidae) or true crocodiles are large semiaquatic reptiles that live throughout the tropics in Africa, Asia, the Americas and Australia.</p> 
                        </div>
                      </div></p>
                     </div>
              </div>

                <!-- box4 -->
                <div class="box3 col-12 col-sm-12 col-md-6 col-lg-3 mb-5 fade-in-out">
                  <div class="box1">
                    <div class="card bg-dark text-white">
                      <img src="dmitriy-zub-ky0NvwB5aws-unsplash.jpg" class="card-img" alt="...">
                      <div class="card-img-overlay">
                        <h2 class="card-title">Monkey</h2>
                        <hr>
                            <p class="card-text">Monkey is a common name that may refer to most mammals of the infraorder Simiiformes, also known as the simians. </p> 
                          </div>
                        </div></p>
                       </div>
                </div>
            <!-- <div style="width: 20px; background-color: aqua;"></div> -->
          </div>
          </div>
        </div>

        <!-- page 3 -->
        <div class="main3 img-fluid" id="3">
        <div class="container">
          <div class="row ">
            <div class="cont">
              <p class="heading">50 Years of e  of the Year</p>
              <p class="texts">Natural History Museum’s new book released on Wednesday marks five decades of the WPY competition, celebrating the art of wildlife . Started in the 1960s, the 160 prize-winning and commended images represent 50 years of different times, styles and specialisms – showcasing some of the iconic images of wildlife on planet Earth, part of an exhibition in London from 24 October</p>
          </div>
          </div>
          </div>
        </div>

        <!-- page 4 -->

        <div class="main4" id="4">
          <div class="container">
            <div class="row">
              <div class="boxx mt-5">
              <div class="head" id="text">Top scientists demand NSW commit to brumby cull in Kosciuszko national park</div>
              <div class="texts mt-5 mb-5 texts"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.</p></div>
              </div>
            </div>
          </div>
        </div>

        <!-- page4 -->

        <div class="main5" id="5"></div>

        <!-- page5 -->
        <section class="main6" id="6">
          <div class="container">
            <div class="row mt-5 zoom">
            <div><h1 style="text-align: center;" class="mb-5">Beautyfull Animals</h1></div>
                <div class="img col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
              <a href="jelly.webp"><img src="jelly.webp" class="border" alt="jellyfish"></a>
              </div>
              <div class="img col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
             <a href="image/new.webp"><img src="image/new.webp" class="border" alt="jellyfish"></a>
              </div>
              <div class="img col-12 col-sm-12 col-md-12 col-lg-4 mb-3">
             <a href="robert-woeger-aFaaOPR3je4-unsplash.jpg"><img src="robert-woeger-aFaaOPR3je4-unsplash.jpg" class="border" alt="jellyfish"></a>
              </div>
              </div>
            </div>
        

          <!--a  -->
          <div class="container" id="7">
            <div class="row">
              <div class="head2 mt-5 mb-3">
                <h1>Top 10 Wildlife s To Watch</h1>
              </div>
              <div class="texts mb-5">
                <p>Millions of species of fauna and flora inhabit this vibrant and diverse world we live in. Sometimes we don’t even remember that there is nature beyond our cities and our comfort zone. There is so much wildlife to captivate and capture. Thankfully s can share the beauty of this world and bring us the wildlife scenes of animals that we would have otherwise never known.</p>
              </div>

            </div>
          </div>
        </section>



         <!--amazing animals -->
         <!-- <h1 class="mt-5" style="color: black; text-align: center; border: 2px solid black;">Amazing Animals</h1> -->
     <!-- <section class="last mt-5">
     -->
          <div class="container mt-5" id="8">
            <div class="row zoom">
              <div class="img1 col-12 col-sm-6 col-md-6 col-lg-3 mb-3 mt-5">
                <a href="img1.webp"><img src="img1.webp" class="border img-fluid" alt="jellyfish"></a>
                </div>
                <div class="img1 col-12 col-sm-6 col-md-6 col-lg-3 mb-3 mt-5">
               <a href="img2.webp"><img src="img2.webp" class="border img-fluid" alt="jellyfish"></a>
                </div>
                <div class="img1 col-12 col-sm-6 col-md-6  col-lg-3 mb-3 mt-5">
               <a href="img3.webp"><img src="img3.webp" class="border img-fluid" alt="jellyfish"></a>
                </div>
                <div class="img1 col-12 col-sm-6 col-md-6 col-lg-3 mb-3 mt-5">
                  <a href="img5.webp"><img src="img5.webp" class="border img-fluid" alt="jellyfish"></a>
                  </div>
                  <div class="img1 col-12 col-sm-6 col-md-6 col-lg-3 mb-3 mt-5">
                 <a href="img6.webp"><img src="img6.webp" class="border img-fluid" alt="jellyfish"></a>
                  </div>
                  <div class="img1 col-12 col-sm-6 col-md-6  col-lg-3 mb-3 mt-5">
                 <a href="img7.webp"><img src="img7.webp" class="border img-fluid" alt="jellyfish"></a>
                  </div>
                  <div class="img1 col-12 col-sm-6 col-md-6 col-lg-3 mb-3 mt-5">
                    <a href="img9.webp"><img src="img9.webp" class="border img-fluid" alt="jellyfish"></a>
                     </div>
                     <div class="img1 col-12 col-sm-6 col-md-6  col-lg-3 mb-3 mt-5">
                    <a href="img10.webp"><img src="img10.webp" class="border img-fluid" alt="jellyfish"></a>
                     </div>
              
           
            </div>
          </div>
          </section>


          <!-- <footer>
            <div class="logo">
              <a href=""><img src="facebook.png"  width="30px" alt=""></a>
              <a href=""><img src="twitter.png" width="30px" alt=""></a>
              <a href=""><img src="insta.png" width="30px" alt=""></a>
              <a href=""><img src="in.png" width="30px" alt=""></a>
            </div>
          </footer> -->
          <br><br>
          <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
              <!-- Section: Social media -->
              <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-facebook-f"></i
                ></a>
          
                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-twitter"></i
                ></a>
          
                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-google"></i
                ></a>
          
                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-instagram"></i
                ></a>
          
                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
          
                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-github"></i
                ></a>
              </section>
              <!-- Section: Social media -->
            </div>
            <!-- Grid container -->
          
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2020 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
          </footer>
         

          
      

      
       
</body>

</html>