<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="owl.carousel.min.css">
    <link rel="stylesheet" href="animate.min.css">
</head>
<body>
    <div id="slider1" class="owl-carousel owl-theme">

        <div class="item"><img src="image/i1.webp" alt="Owl Image">
            <h1 class="wow animate__bounceOut">page1</h1>
        </div>
        <div class="item"><img src="image/i2.jpg" alt="Owl Image">
            <h1 class="wow animate__fadeOutDown">page2</h1>
        </div>
        <div class="item"><img src="image/i6.jpg" alt="Owl Image">
            <h1 class="wow animate__zoomInDown">Page3</h1>
        </div>
        <div class="item"><img src="image/i3.jpg" alt="Owl Image">
            <h1 class="wow animate__fadeOutUp">page4</h1>
        </div>
        <div class="item"><img src="image/i4.jpg" alt="Owl Image">
            <h1 class="wow animate__fadeInUp">page5</h1>
        </div>
        <div class="item"><img src="image/i5.jpg" alt="Owl Image">
            <h1 class="wow animate__jackInTheBox">page6</h1>
        </div>
       

    </div>
</body>
<script src="jquery.js"></script>
<script src="owl.carousel.min.js"></script>
<script src="wow.min.js"></script>
<script>
        $('#slider1').owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1,
                nav: true
            },
            600: {
                items: 1,
                nav: true
            },
            1000: {
                items: 1,
                nav: true,
                loop: true
            }
        }
    })
    var owl = $('#slider1');
    owl.owlCarousel();
    // Listen to owl events:
    owl.on('changed.owl.carousel', function (event) {
        new WOW().init();
    })
</script>
</html>