#slider1 .owl-nav button.owl-prev {
    position: absolute;
    top: 35%;
    left: 2%;
    font-size: 100px;
}

#slider1 .owl-nav button.owl-next {
    position: absolute;
    top: 35%;
    right: 2%;
    font-size: 100px;

}

#slider1 .owl-nav button.owl-prev:hover {
    background-color: transparent;
    border-radius: 10px;

}

#slider1 .owl-nav button.owl-next:hover {
    background-color: transparent;
    border-radius: 10px;

}

#slider1 .owl-dots {
    position: absolute;
    bottom: 20px;
    left: 45%;
}


#slider1 .owl-theme .owl-dots .owl-dot span {
    border-radius: 0;
}

#slider1 .abs {
    position: absolute;
    top: 50px;
    left: 50px;
}

#slider1  h1 {
    position: absolute;
    top: 60%;
    right: 46%;

    font-size: 40px;
}
#slider1  .owl-dots .owl-dot span {
    border-radius: 0;
   
}
