* {
    margin: 0;
    padding: 0;
}

.main {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    height: 1000px;
    width: 100%;
    padding: 50px;
}

.btn {
    width: 180px;
    padding: 20px 40px;
    font-weight: 700;
    /* outline:  0.5px solid black; */
    transition: all ease-in-out 0.7s;
    margin: 40px;
}

.btn1 {
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
    transition: all 0.5s;

}

.btn1:hover {
    border: none;
    outline: none;
    border-radius: 20%;
    /* background-position:20px 10px; */

}

.btn2 {
    border: none;
    background: rgb(131, 58, 180);
    background: linear-gradient(60deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.btn2:hover {
    border-radius: 25px 0px 25px 0px;
    box-shadow: 7px 7px 14px;
    background-position: 200px 15px;

}

.btn3 {
    background: rgb(238, 174, 202);
    transition: 1s;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(143, 176, 216, 1) 100%);
}

.btn3:hover {
    background-position: 200px 10px;
    /* border: none; */
    outline: none;
    border: none;
    border-radius: 10PX;

}

.btn4 {
    box-shadow: grey 10px 10px;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.btn4:hover {
    box-shadow: grey 2px 2px;
    transform: translateX(4px) translateY(4px);
}

.btn5 {
    background-color: #FF7100;
    transition: 1.5s;

}

.btn5:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
}

.btn6 {
    /* border-radius: 4%; */
    background: rgb(251, 63, 188);
    background: radial-gradient(circle, rgba(251, 63, 188, 1) 0%, rgba(252, 120, 70, 1) 100%);
    border: none;
    transition: 0.5s;
}

.btn6:hover {
    /* border-radius: 100%; */
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.btn7 {
    background: hsla(212, 13%, 41%, 1);

    background: linear-gradient(90deg, hsla(212, 13%, 41%, 1) 0%, hsla(3, 100%, 73%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(212, 13%, 41%, 1) 0%, hsla(3, 100%, 73%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(212, 13%, 41%, 1) 0%, hsla(3, 100%, 73%, 1) 100%);

}

.btn7:hover {
    background-position: 180px 50px;

    /* background-position: -200px -5px; */
    /* border-bottom: -15px solid black; */
    border: none;
    border-radius: 5%;
}

.btn8 {
   
    /* transform: 5s; */
    box-shadow: 2px 2px 5px;

    background: rgb(35, 142, 249);
    background: linear-gradient(344deg, rgba(35, 142, 249, 1) 47%, rgba(255, 255, 255, 1) 48%);
    transition: 1s;
    border: none;
}

.btn8:hover {
    /* background-position:0px 55px;  */
    background: rgb(255, 255, 255);
    /* border: none; */
    transition: all ease-in-out 0.3s;
    /* border-radius: 5%; */
    /* box-shadow: none; */
    
    background: linear-gradient(344deg, rgba(255, 255, 255, 1) 48%, rgba(35, 142, 249, 1) 47%);

}
.btn9{
    border: none;
    background: rgb(223,33,64);
background: linear-gradient(0deg, rgba(223,33,64,1) 0%, rgba(217,223,33,1) 53%, rgba(223,33,80,1) 100%);
}
.btn9:hover{
    background-position: 200px 60px;
    /* border: none; */
}
.btn10{
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    border: none;
    transition: 1s;
}
.btn10:hover{
    background-color: white;
    border-radius: 5px;
   background-position: 180px 50px;

}
.btn11{
    background-color: #FA8BFF;
    
    
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);

}
.btn11:hover{
    background-position: -176px 55px;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:50px;
    border-top-left-radius:50px ;
    border-top-right-radius: 20px;
    border: none;
}
.btn12{
    background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);


}
.btn12:hover{
    background-position: 180px 50px;
    border: none;
}
.btn13{
     background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    
}
.btn13:hover{
    border-radius: 50%;
    outline-offset: -15px;
    border: none;
}
.btn14{
    background-color: #52ACFF;
background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);
transition: all ease-in-out 0.2s;
    border: none;

}
.btn14:hover{
    border: none;
   
    /* outline: 1px solid black; */
    border-radius: 10px;
    border-bottom: 4px solid black;
  
}

 .btn15{
    background-color:  #4F709C;
    color: white;
    border: none;
    transition: 0.3s !important;
}
.btn15:hover{
    background:#27374D ;
}
.btn16{
    background: transparent !important;
    border: white 1px solid ;
    color: white;
}
.btn16:hover{
    color: black;
    background-color: hsla(3, 100%, 73%, 1) !important;
    border: none;
    border-radius: 8px;
}