<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="paykun.js"> -->
    <!-- font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Mulish:wght@400;600&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Mulish:wght@400;600&family=Raleway:wght@300&display=swap" rel="stylesheet">
<!-- fpnt awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.css">
<body>
  
    <nav class="header">
        <div>
           <h3>Start accepting online payments with lowest TDR <span>1.75%</span> <a href="">Know More</a></h3>
        </div>
    </nav>
    <!--  -->
    <nav class="navbar navbar-expand-lg header1 position-sticky top-0" style="background-color: white; z-index: 5;" id="nav1">
        <div class="container">
          <a class="navbar-brand" id="a" href='/post'><i><img class="paykun" src="image/blacklogo.svg" style="width: 163px;"></i></a>
         
          <button class="navbar-toggler bar" id="bar" type="button" style="border: none;" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
          </button>
          
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav gap-3 navitems">
          
              <li class="nav-item">
                <a class="nav-link active " id="a" aria-current="page" href='/'>Feautures</a>
                <!-- <ul class="menu">
                    <li><a href="Home"></a></li>
                </ul> -->
              </li>
              <li class="nav-item">
                  <a class="nav-link active" id="a" aria-current="page" href='/'>Resources</a>
                
                </li>
                
                
                <li class="nav-item">
                  <a class="nav-link active" id="a" aria-current="page" href='/'>Prising</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" id="a" aria-current="page" href='/'>Docs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" id="a" aria-current="page" href='/'>Login</a>
                </li>
                <li class="nav-item signin">
                  <a class="nav-link active" id="a" aria-current="page" href='/'>Sign-in</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- nav 1 -->
  <div class="mainnn">
    <div class="main">
      
    <!-- nav 2 -->
 <div class="container">
  <div class="row">
    <div class="col-sm-12">
    <div class="hero text-center">
      <div class="ls mt-5">
    <span class="lsm ls1 hidden-xs"></span>
    AFFORDABLE
    <b>|</b>
    SIMPLE
    <b>|</b>
    SECURE
    <span class="lsm ls1 hidden-xs"></span>
      </div> 


      <h1 class="text-light mt-5 digital">DIGITAL GATEWAY TO BOOST <br> YOUR BUSINESS PAYMENT</h1>

      </div>
      <div class="mt-5 text-center">
        <button type="button" class="btn btn-primary btn1 first" id="101">SIGN UPI <span class="ms-1">⟶</span></button>
        <button type="button" class="btn btn-primary btn1 second" id="102">CHECKOUT DEMO <i class="ps-2 fa fa-play hidden-xs"></i></button>
      </div>
      </div>
      </div>
      </div>
      <div class="container mt-4 mb-5" >
        <div class="row">
            <img src="image/mainpage.png" class="mb-5" style="max-width: 80%; margin: auto;" alt="mainpage">
        </div>
      </div>
</div>
<!-- main end -->
     
<!-- new start -->
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 mt-5">
      <img src="image/page2-22.png" width="100%" alt="">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 checkout mt-5">
      <h2 class="mt-3" >EXCELLENT CHECKOUT EXPERIENCE</h2>
      <div class="cheak"></div>
      <p>That’s what your customers will get with PayKun with all the available payment options such as credit cards, debit cards, net banking, wallets, UPI, QR code, and EMI</p>        
      <div class="row demo">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="image/logo1.svg" alt="">
          <h3>INTEGRATE</h3>
          <p>Do not worry about the technical aspects, We have ready plugins, SDKs and provides free integration help</p>
          <a href="#">Our Docs <span>⟶</span></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
          <img src="image/logo2.svg" alt="">

          <h3>CHECK THE DEMO</h3>
          <p>See for yourself how smooth, secure and easy our gateway checkout is, you can even sign up and check our test mode</p>
          <a href="#">View Demo <span>⟶</span></a>
        </div>
      </div>
    </div>
    </div>
  </div>

<!-- new end -->

  <div class="container text-center mt-5">
    <hr style=" margin: 0px;">
    <div class="row p-2 p-md-4">
      <div class="tick col-4 gap-3 d-block d-lg-flex">
        <img src="image/right-tick.svg" alt="right-tick"> <p>Smooth & Scure</p>
       
      </div>
      <div class="tick col-4 gap-3 d-block d-lg-flex">
        <img src="image/right-tick.svg" alt="right-tick">
        <p>High Success Rate</p>
      </div>
      <div class="tick col-4 gap-3 d-block d-lg-flex">
        <img src="image/right-tick.svg" alt="right-tick">
        <p>Raddy Integration</p>
      </div>
    </div>
    <hr style="margin: 0;">
  </div>

<div class="container">
  <div class="box mt-5">
  <div class="banner">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 logo">
        <img src="image/man.svg" style="float: left;" alt="">
        <h4>15K+</h4>
        <br>
        <p class="pp">Active Merchants</p>
      </div>
      <!-- <div class="clear"></div> -->
      <div class="col-sm-12 col-md-4 col-lg-4 logo ok">
        <img src="image/pci-dss.svg" style="float: left;" alt="">
        <h4>PCI DSS</h4>
        <p class="pp1">Compliant</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 logo">
        <img src="image/success-rate.svg" style="float: left;" alt="">
        <h4>HIGH</h4>
        <p class="pp1">Success Rate</p>
      </div>
      <hr class="mt-2 text-white m-auto mb-3 mt-3" style="width: 60%;">
      <marquee behavior="scroll" direction="right">
        <img src="image/banner1.png" alt="">
        <img src="image/banner2.png" alt="">
        <img src="image/banner3.png" alt="">
        <img src="image/banner5.png" alt="">
        <img src="image/banner6.png" alt="">
        <img src="image/banner7.png" alt="">
        <img src="image/banner8.png" alt="">
        <img src="image/banner9.png" alt="">
        <img src="image/banner10.png" alt="">
        <img src="image/banner11.png" alt="">
      </marquee>
    </div>
  </div>
  </div>
  </div>

    <div class="row text-center">
      <h2 class="head mt-5 mb-5">OUR PAYMENT <span>SOLUTION<div class="cheak2"></div></span></h2>
    </div>

    <div class="container">
      <div class="row text-center solution">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img src="image/logo3.png" alt="">
          <h3>PAYMENT GATEWAY</h3>
          <P class="text-muted">Smooth Integration with ready plugins for various Web & App platforms</P>
          <a href="#">Our Docs <span>⟶</span></a>
         
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img src="image/logo4.svg" alt="">
          <h3>PAYMENT LINK</h3>
          <P class="text-muted">Accept online payments without website via SMS, e-mail, Whatsapp, etc.</P>
          <a href="#">Our Docs <span>⟶</span></a>
   
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img src="image/logo5.svg" alt="">
          <h3>PAYMENT BUTTON</h3>
          <P class="text-muted">Add a button to your website or blog easily with no technical efforts</P>
          <a href="#">Our Docs <span>⟶</span></a>
       
        </div>
      
      </div>
    </div>


<section class="page5 mt-5">
  <div class="container">
    <div class="row">
      
        <h2 class="text-center cheakkk">OUR BEST <span>FEAUTURES <div class="cheak3"></div> </span> FOR <br>
        YOUR CONVINIENCE</h2>
    </div>
    <div class="row boxes mt-5">
      <div class="b1 col-sm-12 col-md-6 col-lg-6" style="background-image: url(image/png1.jpg); background-repeat: no-repeat; background-position: right;">
        <div class="containn">
          <img src="image/logo6.png" alt="">
          <h3>120+ Payment Modes</h3>
          <p>Call, Live chats, Email, & Whatsapp
            support with the assigned account
            manager</p>
        </div>
      </div>
      <div class="b1 col-sm-12 col-md-6 col-lg-6" style="background-image: url(image/png2.svg); background-repeat: no-repeat; background-position: right;">
        <div class="containn">
          <img src="image/logog22.png" alt="">
          <h3>Affordable Pricing</h3>
          <p>Lowest transaction rates (TDR),
            no other fees & free integration
            assistance</p>
        </div>
      </div>
      <div class="b1 col-sm-12 col-md-6 col-lg-6" style="background-image: url(image/png3.svg); background-repeat: no-repeat; background-position: right;">
        <div class="containn">
          <img src="image/logo7.png" alt="">
          <h3>Excellent Support</h3>
          <p>Call, Live chats, Email, & Whatsapp
            support with the assigned account
            manager</p>
        </div>
      </div>
      <div class="b1 col-sm-12 col-md-6 col-lg-6" style="background-image: url(image/png4.svg); background-repeat: no-repeat; background-position: right;">
        <div class="containn">
          <img src="image/logo9.png" alt="">
          <h3>Fast Settlements</h3>
          <p>Receive fast and regular settlements
            as per your settlement cycle with no
            delays</p>
        </div>
      </div>
     
    </div>
  </div>
</section>

<!-- <div>.............................</div> -->
  <section class="page6 mt-5">
    <div class="container">
      <div class="row">

      <div class="col-sm-12 col-lg-2">
        <h2 class="upcoming text-center mt-4">UPCOMING PRODUCTS</h2>
      </div>
 
        <div class="q1 col-lg-4 mt-3">
          <h4>PAYOUT</h4>
          <P style="width: 60%;">Secure and Automated Payouts
            to the customers and vendors</P>
        </div>
        <div class="q2 col-lg-4 hidden-sm mt-3">
          <h4>NEOBANKING</h4>
          <p style="width: 60%;">Manage your business banking
            and finances seamlessly</p>
        </div>
      </div>
    </div>


<footer class="mt-5 footer">

  <div class="container">
    <div class="row">
      <div class="r1">
        <div class="col-md-12">
          <div class="text-white text-center textss">
            <h4>Ready to get started?</h4>
        <div class="text-center fs-2 text-light">Safe & Secure Trantsacion</div>

            <p class="m-0">No Maintenance Charges</p>
            <p class="m-0">No Setup/Integration Fee</p>
            <p class="m-0">Flat 1.75% Per Transaction + Taxes</p>
          </div>
        </div>
        <img src="image/curve-layer.svg" alt="">
      </div>
    </div>
    <div class="container btnnn text-center p-3" style="width: 100%; background-color: #ffffff;">
      <button class="btnn" style="width: auto;">Get Started</button>
  </div>
  </div>
  <!-- <div class="container btnnn text-center " style="width: 76%; background-color: #ffffff;">
      <button class="btnn btn btn-success" style="width: auto;">Get Started</button>
  </div> -->
  <div class="container">
 <div class="row biodata">
  <div class="detail col-sm-12 col-md-4 col-lg-4 col-xs-12 " >
    <img src="image/paykunlogo.svg" width="150px" alt="">
    <p class="mt-4 text-light">PayKun is the simplest way of collecting online payments. We really like new startups and building products globally.</p>
    <div class="logos">
      <img src="image/ssl secure.svg" class="secure1"  alt="">
      <img src="image/secure2.svg" class="secure2" alt="">
      <img src="image/secure3.png" class="secure3" alt="">
    </div>
  </div>
 
  <div class="col-md-3 col-sm-4 col-4 mt-5">

   <ul>
    <li><h4>futures</h4></li>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Payment Gateway</a></li>
      <li><a href="#">Payment Links</a></li>
      <li><a href="#">Integration</a></li>
      <li><a href="#">Disput Resolution</a></li>
    </ul>
    <ul>
      <li><h4>Devlepers</h4></li>
      <li><a href="#">Documentaion</a></li>
    </ul>
    <ul>
      <li><h4>Refer & Earn</h4></li>
      <li><a href="#">Partner Program</a></li>
    </ul>
   </div>
   
<!--  -->

<div class="col-md-3 col-sm-4 col-4 mt-5 hidden-xs">
  <ul>
    <li><h4>Solution</h4></li>
    <li><a href="#">E-Commerce</a></li>
    <li><a href="#">Entertaintment</a></li>
    <li><a href="#">It & Sass
    </a></li>
    <li><a href="#">Gaming</a></li>
  </ul>
  <ul class="hidden-sm hidden-xs">
    <li><h4>Company</h4></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Privicy Policy</a></li>
    <li><a href="#">Term Of USe</a></li>
    <li><a href="#">Partener T & C</a></li>
    <li><a href="#">Responsible</a></li>
    <li><a href="#">Disclosure</a></li>
    <li><a href="#">Blog</a></li>
  </ul> 
  </div>
  <!--  --> 
  <div class="col-md-2 col-sm-4 col-4 mt-5 hidden-xs hidden-sm">
    <ul>
      <li><h4>Othern</h4></li>
      <li><a href="#">Free calculater</a></li>
      <li><a href="#">File Dispute</a></li>
    </ul>
    <ul>
      <li><h4>Contact US</h4></li>
      <li><a href="#">800-212-8070</a></li>
      <li><a href="#">(Mon-Fri 10am to 6pm IST)</a></li>
      <li><a href="#">Support@paykun.com</a></li>
    </ul> 
    </div>
</div>
</div>
</section>

<div class="bg-light text-center text-white" style="background-image: url(image/colorful.png); background-position: left;">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Copyright © 2023 Paykun Payment Solution Private Limited : 
    <a class="text-white" href="https://mdbootstrap.com/">Support@paykun.com</a>
  </div>
  <!-- Copyright -->
  </div>
  </div>
</div>
</footer>

<!-- javascript -->
<script src="sytle.js"></script>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>